backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/flights/migrations/__pycache__/0001_initial.cpython-312.pyc
backed/flights/migrations/__pycache__/__init__.cpython-312.pyc
.gitignore
backed/flights/__pycache__/serializers.cpython-312.pyc
backed/flights/__pycache__/models.cpython-312.pyc
backed/flights/__pycache__/forms.cpython-312.pyc
backed/flights/__pycache__/views.cpython-312.pyc
backed/flights/__pycache__/admin.cpython-312.pyc
backed/flights/__pycache__/__init__.cpython-312.pyc
backed/flights/__pycache__/apps.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/flights/migrations/__pycache__/0002_flight_airline.cpython-312.pyc
backed/db.sqlite3
backed/backed/__pycache__/urls.cpython-312.pyc
backed/user/__pycache__/views.cpython-312.pyc
backed/db.sqlite3
backed/db.sqlite3
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/orders/__pycache__/__init__.cpython-312.pyc
backed/orders/__pycache__/admin.cpython-312.pyc
backed/orders/__pycache__/apps.cpython-312.pyc
backed/orders/__pycache__/models.cpython-312.pyc
backed/orders/__pycache__/views.cpython-312.pyc
backed/orders/migrations/__init__.py
.gitignore
backed/orders/migrations/__pycache__/__init__.cpython-312.pyc
backed/orders/migrations/__pycache__/0001_initial.cpython-312.pyc
backed/user/__pycache__/views.cpython-312.pyc
backed/user/__pycache__/views.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/db.sqlite3
backed/flights/migrations/__pycache__/0003_alter_flight_id.cpython-312.pyc
backed/orders/__pycache__/serializers.cpython-312.pyc
backed/orders/migrations/0002_order_flight_id_alter_order_date_and_more.py
backed/orders/migrations/0003_rename_flight_id_order_flight_and_more.py
backed/orders/migrations/__pycache__/0002_order_flight_id_alter_order_date_and_more.cpython-312.pyc
backed/orders/migrations/__pycache__/0003_rename_flight_id_order_flight_and_more.cpython-312.pyc
fronted/src/assets/photos/sanya/VCG211333916660.jpg
fronted/src/assets/photos/sanya/VCG211356796441.jpg
.gitignore
fronted/src/assets/photos/sanya/VCG211331611852.jpg
fronted/src/assets/photos/sanya/VCG211346951948.jpg
backed/flights/migrations/0003_alter_flight_id.py
backed/backed/__pycache__/urls.cpython-312.pyc
backed/db.sqlite3
backed/backed/__pycache__/urls.cpython-312.pyc
backed/db.sqlite3
backed/backed/__pycache__/urls.cpython-312.pyc
backed/flights/migrations/__pycache__/0004_aircraft_alter_flight_capacity_flight_aircraft_seat.cpython-312.pyc
backed/flights/migrations/0005_remove_flight_capacity_and_more.py
backed/flights/migrations/0004_aircraft_alter_flight_capacity_flight_aircraft_seat.py
backed/flights/migrations/__pycache__/0005_remove_flight_capacity_and_more.cpython-312.pyc
backed/orders/migrations/0004_order_seat_invoice_ticketnotification.py
backed/orders/migrations/__pycache__/0004_order_seat_invoice_ticketnotification.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
