backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/flights/migrations/__pycache__/0001_initial.cpython-312.pyc
backed/flights/migrations/__pycache__/__init__.cpython-312.pyc
.gitignore
backed/flights/__pycache__/serializers.cpython-312.pyc
backed/flights/__pycache__/models.cpython-312.pyc
backed/flights/__pycache__/forms.cpython-312.pyc
backed/flights/__pycache__/views.cpython-312.pyc
backed/flights/__pycache__/admin.cpython-312.pyc
backed/flights/__pycache__/__init__.cpython-312.pyc
backed/flights/__pycache__/apps.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/settings.cpython-312.pyc
backed/backed/__pycache__/urls.cpython-312.pyc
backed/flights/migrations/__pycache__/0002_flight_airline.cpython-312.pyc
backed/db.sqlite3
backed/backed/__pycache__/urls.cpython-312.pyc
backed/user/__pycache__/views.cpython-312.pyc
